.action-bar {
  padding: 16px;
  background-color: var(--color-bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
    .more-filters, .button-group {
      width: 100%;
    }
    .more-filters {
      margin-top: 1rem;
      margin-left: -1.5rem;
    }

  }
}
