.dev-item {
  display: flex;

  .user-details {
    margin-bottom: 2rem;
  }

  &__title h3, h4 {
    margin: 0;
  }

  svg {
    margin-right: 4px;
    transform: translateY(3px);

    path {
      fill: var(--color-text-muted);
    }
  }

  .popular-repo svg path {
    fill: #bc4c00;
  }

  p {
    font-weight: 600;
    margin: 0
  }

  .avatar {
    margin-right: 16px;
    margin-left: 16px;

    img {
      border-radius: 50px;
      margin-bottom: -5px;
    }
  }

}
